body {
    background-color: #D7E0ED;
    font-family: 'Outfit', sans-serif;
}   
/* Card */
.box {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    height: 480px;
    margin: auto;
    margin-top: 100px;
    width: 320px;
}
/* QR */
img {
    border-radius: 10px;
    height: 290px;
    margin: 15px;
    position: relative;
    width: 290px;
}

.intro {
    color: #1B2135;
    font-size:15px;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    width: 260px;
}

.info {
    color: #AEAFB2;
    font-size:15px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    text-align: center;
    width: 260px;
}
/* Link */
.attribution {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
